@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
	<h1>Project Canine</h1>
	<p class="lead">For management of certification testing for dogs & their handlers.</p>
</div>
<div class="row">
	<div class="col-md-4">
		<a class="btn-link" href="TestResults"><h2>Test Results</h2></a>
		<p>
			View Test Results
		</p>
		<a class="btn-link" href="#"><h2>Export Test Results</h2></a>
		<p>
			(In Development)Export Test Results to a PDF file.
		</p>
	</div>
	<div class="col-md-4">
		<a class="btn-link" href="/Tests"><h2>Manage Tests</h2></a>
		<p>
			Modify the tests and their questions.
		</p>
		<a class="btn-link" href="/Examiners"><h2>Manage Examiners</h2></a>
		<p>
			Manage Examiners
		</p>
		<a class="btn-link" href="/EquipmentRestrictions"><h2>Manage Equipment Restriction Types</h2></a>
		<p>
			Manage Equipment Restriction Types
		</p>
		<a class="btn-link" href="/CertificationTypes"><h2>Manage Certification Types</h2></a>
		<p>
			Manage Certification Types
		</p>
	</div>
</div>