
@{
    ViewBag.Title = "User Deleted";
}

<h2>User Deleted</h2>

@ViewBag.Message

<div class="panel">
    <div class="panel-body">
        @Html.ActionLink("Back to User List", "ListUsers", "Security")
    </div>
</div>


