
@{
    ViewBag.Title = "UserCreated";
}

<h2>User Created</h2>

@ViewBag.FullName has been added as a new user.

<div class="panel">
    <div class="panel-body">
        @Html.ActionLink("Back to User List", "ListUsers", "Security")
    </div>
</div>

